---
---

<ul class="[& li:hover]:(bg-pink text-yellow) [&>li]:(text-[red,xl] z-0 bg-[green-600] my-3 rotate-5 px-6-0) my-20 border-[4,red]">
	<li>
		<a href="http://" target="_blank" rel="noopener noreferrer">hello link 44444</a>
	</li>
	<p class="text-green-6 text-3xl z-10">text</p>
	<li class="@lg:(text-red text-6) flex|3|6|40 @md:flex|3|6|40px  flex|1|2 flex|1|2">fn helooo</li>
	<li>helooo</li>
	<h1>heoooo who are you </h1>
</ul>
<span class="i-i(gift)"></span>
tailDietWD

<div class="flex-col-6 flex-row-2 flex-col-2 flex-col-9 flex-row-9 texts-red">FLEXBOX SHORTNER from 1 to 9</div>
<div class="px-6-2 m-6-5-3">4 SIDES PADDING MARGING</div>
<div class="flex|3|6|40 flex|3|6|40px  flex|1|2 flex|1|2|45%">flex grow shrink basis flex: 3 6 10rem;</div>
<div class="[&>li]:(text-[red,xl] z-0 bg-[green-600] my-3 rotate-5 px-6-0)"> combinator</div>
<div class="border-[4,red,lg:[pink,3,hover:orange]]"></div>
<div class="my-3 my-2-6 px-4-6 px-3">padding-inline: 1em 1.5em;</div>
<div class="border-[xl:4,red]"></div>
<div class="text-[4,red,md:hover:green]"> md:hover:text-green</div>
<div class="md:(text-red text-[red,2,@lg:hover:pink-100])"> you can use container querries</div>
<div class="size-6 size-22">   block-size: 5.5rem; inline-size: 5.5rem  much better than height and width</div>



<style>

</style>