@font-face {
  font-family: 'Sunlight';
  src: url('/fonts/SunlightRegular.woff2') format('woff2'),
    url('/fonts/SunlightRegular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
