---
---

<div class="relative mx-auto w-4xl bg-green-2">
	<div class="border-3 border-red-600 bg-blue p-3">
		<svg width="6rem" height="6rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				opacity=".1"
				d="M4 12.5V16c0 1.886 0 2.828.586 3.414C5.172 20 6.114 20 8 20h8c1.886 0 2.828 0 3.414-.586C20 18.828 20 17.886 20 16v-3.5a.5.5 0 0 0-.5-.5h-15a.5.5 0 0 0-.5.5Z"
				fill="#000"></path>
			<path
				d="M3 9.5c0-.465 0-.697.038-.89A2 2 0 0 1 4.61 7.038C4.803 7 5.035 7 5.5 7h13c.465 0 .697 0 .89.038a2 2 0 0 1 1.572 1.572c.038.193.038.425.038.89s0 .697-.038.89a2 2 0 0 1-1.572 1.572c-.193.038-.425.038-.89.038h-13c-.465 0-.697 0-.89-.038a2 2 0 0 1-1.572-1.572C3 10.197 3 9.965 3 9.5Z"
				stroke="#000"
				stroke-width="2"
				stroke-linejoin="round"></path>
			<path
				d="M4 12v4c0 1.886 0 2.828.586 3.414C5.172 20 6.114 20 8 20h8c1.886 0 2.828 0 3.414-.586C20 18.828 20 17.886 20 16v-4M12 7v13M11.375 6.22l-1.98-2.475a2.002 2.002 0 0 0-2.977-.163C5.158 4.842 6.047 7 7.828 7H11a.48.48 0 0 0 .375-.78ZM12.625 6.22l1.98-2.475a2.002 2.002 0 0 1 2.977-.163c1.26 1.26.371 3.418-1.41 3.418H13a.48.48 0 0 1-.375-.78Z"
				stroke="#000"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"></path>
		</svg>
		<p class="mmm inline-block rounded-xl bg-primary">+1</p>
	</div>
	<h3>MASSAGE EN CADEAU</h3>
	<p>
		Offrez un cadeau inoubliable a votre partenaire ou a vos amis. Choisissez entre un massage relaxant ou un
		massage du visage MTS face-lift.
	</p>
</div>

<style>
	.mmm {
		margin-top: -3.25rem;
	}
</style>
