---
import Layout from 'src/layouts/Layout.astro'

import Hero from 'src/components//home/hero.astro'
import Review from 'src/components//home/reviews.astro'
import Experience from 'src/components//home/15years.astro'

import ExtraProductHomePage from 'src/components//miniComoponents/ExtraProductHomePage.astro'

import IconAccessibility from '~icons/carbon/accessibility'
import IconAccountBox from '~icons/mdi/account-box'
---

<Layout title="Marina Li">
<div class="i-custom-svg:gift"></div>
<div>hello div</div>
<span class="i-carbon-logo-github text-green size-10">helloo logo</span>
<span class="i-mdi-light-home text-red"></span>


<IconAccessibility style={{ fontSize: '2em', color: 'red' }} />

<!-- <Hero />
<Experience />  -->
<div class="container p-lg"></div>
	<section>
		<div class=" grid grid-cols-2">
			<ExtraProductHomePage
				svg="hand-gift"
				notification="20%"
				title="Offre Spéciale VOLUME"
				text="Ramenez une ami et bénéficiez une réduction de 20% sur tout les prestation extension de cil (VOLUMES) pour vous et votre ami.  "
			/>
			<ExtraProductHomePage
				svg="gift"
				notification="+1"
				title="Massage en Cadeau"
				text="Offrez un cadeau inoubliable a votre partenaire ou a vos amis. Choisissez entre un massage relaxant ou un massage du visage MTS face-lift."
			/>
		</div>
	</section>
	<section class="flex-wrap bg-secondary flex-col-5 md:flex-row-5">
		<Review name="Patricia" review="super service de la part de Marine je reviendrai certainement" />
		<Review name="Carolina" review="super service de la part de Marine je reviendrai certainement" />
		<Review name="Carolina" review="super service de la part de Marine je reviendrai certainement" />
	</section>
</Layout>
