---
import Layout from 'src/layouts/Layout.astro'
---

<Layout title="demo">
	<h1>Astro read</h1>
	<div class="flex|1|2|50%">baravo world</div>
	<div class="rotate-6 bg-green bg-pink text-3xl m-16-32 hover:bg-blue-200">test tailwind</div>
	<div class="yes">baravo world</div>
	<div class="yes">baravo world</div>
</Layout>

<style>
	.yes {
		margin: 45px;
		background-color: green;
	}
	h1 {
		color: red;
	}
	h1::before {
		content: ' test : ';
	}
</style>
