---
---

<section class="flex flex-col bg-primary pt-6 container md:flex-row">
	<div class="bg-red-5 md:w-1/2"></div>
	<div class="grow md:w-1/2 space-y-3">
		<h2 class="text-[lg|slate-100] underline-[1,primary-dark,solid]">Mon histoire de praticienne depuis 15 ans</h2>
		<p class="text-[slate-300,md:hover:slate-200]">
			Depuis 2006 je soignes les douleurs et les bobos de l'âme à l'aide de massages
		</p>
		<button class="text-slate-200 p-3-6 btn-green-900">Voir Mes soins</button>
	</div>
</section>

<style></style>
